<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}


    <!-- CSS -->
	{{ CSS.push('less/app.less') }}
    {% block extra_css %}
    <link rel='stylesheet' type="text/css" href="css/dragula.css">
	{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    <!-- JS -->
    {{ JS.push('js/lib/dragula.js') }}

    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/retina.min.js') }}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/collapser.js') }}


	{{ JS.render('js/app-header.min.js') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    {% endblock extra_head %}
</head>
<body>

    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

	{% include '_header.html' %}


    <section id="content">
        {% include '_menu.html' %}

                <div class="container" id="main-content">
                    {% block content %}

                    {% endblock content %}
                    <div class="row" style="margin-top:30px;">
                        <div class="col-sm-12">
                            <div class="well" style="text-align:center">
                                <h4><a href="{{COPY.content.pin_link}}" target="_blank">{{COPY.content.pin_pitch}}</a></h4>
                            </div>
                        </div>
                    </div>

                </div>
            {% block wide_content %}
            {% endblock wide_content %}
    </section>

    {% include '_share_modal.html' %}

    {% include '_footer.html' %}


    {% endblock outer_content %}

    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}

    {# commented out ZeroClipboard.js - bj 2015-07-14 #}
    {# {{ JS.push('js/lib/ZeroClipboard.js') }} #}

    {# uncomment both files to use simpleStorage #}
    {# {{ JS.push('js/lib/simpleStorage.js') }} #}
    {# {{ JS.push('js/storage.js') }} #}

    {% if RELOAD_TRIGGER %}
    {{ JS.push('js/reload.js') }}
    {% endif %}

    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/analytics.js') }}

    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    <script type="text/javascript">
      var _sf_async_config = { uid: 33583, domain: 'news.stlpublicradio.org', useCanonical: true };
      (function() {
        function loadChartbeat() {
          window._sf_endpt = (new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
          document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
          loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>

</body>
</html>
