{% extends '_base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{COPY.content.project_name}}</h1>
        <p>{{COPY.content.project_description}}</p>
        <p>{{COPY.content.project_description_2}}</p>
    </div>
</div>
<div id="index">
<div class="row">
    <div class="col-sm-6">
        <h1><a href="police_reform.html">{{COPY.content.priorities_1_title}}</a></h1>
        <p>{{COPY.content.priorities_1_description}}</p>
    </div>

    <div class="col-sm-6">
        <h1><a href="judicial_reform.html">{{COPY.content.priorities_2_title}}</a></h1>
        <p>{{COPY.content.priorities_2_description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h1><a href="youth.html">{{COPY.content.priorities_3_title}}</a></h1>
        <p>{{COPY.content.priorities_3_description}}</p>
    </div>

    <div class="col-sm-6">
        <h1><a href="thrive.html">{{COPY.content.priorities_4_title}}</a></h1>
        <p>{{COPY.content.priorities_4_description}}</p>
    </div>
</div>
</div>

{% endblock %}
